<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AVA-V</title>
    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="app">
        <video id="feed" autoplay></video>
        <div class="btn-container">
            <button id="live-think">Live think</button>
            <button id="capture-think">Capture Think</button>
        </div>
        <p id="response"></p>
    </div>
    
</body>
</html>
