<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AVA-V</title>
    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="app">
        <div class="left-col">
            <video id="feed" autoplay></video>
            <span class="inputSpan">
                <label for="model">Select your vision model:</label>
                <select name="model" id="model">
                </select>
            </span>

            <span class="inputSpan">
                <label for="prompt">Prompt:</label>
                <input id="prompt" type="text" placeholder="Enter the prompt" value="Whats in this image?">
            </span>
            
            <div class="btn-container">
                <button id="live-think">👀 Live think</button>
                <button id="capture-think">📸 Capture think</button>
            </div>
        </div>

        <div class="right-col">
            <p id="response">>>> Stalking silently.... 👀</p>
        </div>
    </div>
    
</body>
</html>
