<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AVA-V</title>
    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="app">
        <div class="left-col">
            <video id="feed" autoplay></video>
            <span class="inputSpan">
                <label for="system-prompt">System Prompt:</label>
                <input id="system-prompt" type="text" placeholder="Enter the system prompt" value="Whats in this image?">
            </span>
            
            <div class="btn-container">
                <button id="live-think">Live think</button>
                <button id="capture-think">Capture Think</button>
            </div>
        </div>

        <div class="right-col">
            <p id="response">Stalking silently.... 👀</p>
        </div>
    </div>
    
</body>
</html>
